<!DOCTYPE html>
<html class="x-admin-sm">
  
<head>
  <meta charset="UTF-8">
  <title>欢迎页面-X-admin2.2</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
  <link rel="stylesheet" href="__ADMIN__/css/font.css">
  <link rel="stylesheet" href="__ADMIN__/css/xadmin.css">
  <script type="text/javascript" src="__ADMIN__/lib/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="__ADMIN__/js/xadmin.js"></script>
  <script type="text/javascript" src="__ADMIN__/js/jquery.min.js"></script>
  <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
  <!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
<div class="layui-fluid">
  <div class="layui-row">
    <form  method="post" class="layui-form layui-form-pane" id="myform">
      <div class="layui-form-item">
        <label for="name" class="layui-form-label">
          <span class="x-red">*</span>角色名
        </label>
        <div class="layui-input-inline">
          <input type="text" id="name" name="role" required lay-verify="required"
                 autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">
          拥有权限
        </label>
        <table  class="layui-table layui-input-block">
          <tbody>
          {foreach $datas as $v}
          <tr>
            <td>
              <input type="checkbox" name="manage[{$v.manage}]" lay-skin="primary" lay-filter="father" title="{$v.manage}" value="{$v.id}">
            </td>
            <td>
              <div class="layui-input-block">
                {foreach $data as $vv}
                {if $v.id==$vv.manageid}
                <input name="rule[]" lay-filter="aaa" lay-skin="primary" type="checkbox" title="{$vv.rule}" value="{$vv.id}">
                {/if}
                {/foreach}
              </div>
            </td>
          </tr>
          {/foreach}
          </tbody>
        </table>
      </div>
      <div class="layui-form-item">
        <button class="layui-btn" lay-submit="" lay-filter="add">增加</button>
      </div>
    </form>
  </div>
</div>
<script>
    layui.use(['form','layer'], function(){
        $ = layui.jquery;
        var form = layui.form
            ,layer = layui.layer;
        
        //自定义验证规则
        form.verify({
            nikename: function(value){
                if(value.length < 5){
                    return '昵称至少得5个字符啊';
                }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,repass: function(value){
                if($('#L_pass').val()!=$('#L_repass').val()){
                    return '两次密码不一致';
                }
            }
        });

        // 监听提交
        // form.on('submit(add)', function(data){
        $('#myform').submit(function(){
            var formData = new FormData($(this)[0]);
            $.ajax({
                url: "{:url('admin/admin/admin_role_toadd')}",
                type: "POST",
                data:  formData,
                cache: false,
                processData: false,
                contentType: false,
                success: function (data) {
                    console.log(data);
                    if(data==1){
                        //发异步，把数据提交给php
                        // layer.alert("增加成功", {icon: 6},function () {
                        //     // 获得frame索引
                        //     var index = parent.layer.getFrameIndex(window.name);
                        //     //关闭当前frame
                        //     parent.layer.close(index);
                        // });
                        layer.alert("添加成功", {
                                icon: 6
                            },
                            function() {
                                //关闭当前frame
                                xadmin.close();
                                // 可以对父窗口进行刷新
                                xadmin.father_reload();
                            });
                    }else if(data==2){
                        layer.alert("请选择权限",{icon:5});
                    }else{
                        layer.alert("添加失败",{icon:5});
                    }

                },
                error:function (){
                    alert('ajax请求失败');
                }
            });

            return false;
        });


        form.on('checkbox(father)', function(data){

            if(data.elem.checked){
                $(data.elem).parent().siblings('td').find('input').prop("checked", true);
                form.render(); 
            }else{
                $(data.elem).parent().siblings('td').find('input').prop("checked", false);
                form.render();  
            }
        });


        form.on('checkbox(aaa)', function(data){

            if(data.elem.checked){
                $(data.elem).parent().parent().siblings('td').find('input').prop("checked", true);
                // console.log($(data.elem));
                form.render();
            }else{
                // $(data.elem).parent().parent().siblings('td').find('input').prop("checked", false);
                // form.render();
            }
        });
          
          
    });
</script>
<script>var _hmt = _hmt || []; (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();</script>
</body>

</html>